# Emacs
*~

# Symlinks
*.fastq

# FastQC
*_fastqc.zip
*_fastqc.html

# Trimmed reads
*.trim.fastq.gz

# STAR align
*_STARgenome/
*_STARtmp/
*.out
*.out.tab
*_Aligned.out.sam

# Bedgraph
*.bedgraph
*.bed
*.sorted.sam

# HTseq
*.htseq